<!DOCTYPE html>
<html>
  <head>
    <title>RailsClientVol</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <div>You are currently logged in as: <%= @user.full_name %></div>
    <%= form_tag change_user_path do  %>
      Change user? <%= select_tag 'new_user_id', options_from_collection_for_select(@all_users, "id", "full_name") %>
      <%= submit_tag 'Change' %>
    <% end %>
    <%= yield %>
  </body>
</html>
